<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      table{
        border-collapse: collapse;

      }
    </style>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>
          STT
        </td>
        <td>
          Ten san pham
        </td>
        <td>
          Hinh san pham
        </td>
        <td>
          Chinh sua
        </td>
      </tr>
      <%
        mang.forEach(function(e, i){
          %><tr>
            <td>
              <%=i + 1%>
            </td>
            <td>
              <%= e.title%>
            </td>
            <td>
              <img width="150px" src = "images/background/<%=e.hinh%>">
            </td>
            <td>
              <a href="/xoa/<%=i%>">Xoa</a>
              <a href="/sua/<%=i%>">Sua</a>
            </td>
            <%
        });
      %>

      </tr>
    </table>
  </body>
</html>
